<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="..\static\css\materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="..\static\css\style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Periodontitis Prediction<a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Periodontitis Classification Prediction</h1>
      <div class="row center">
        <h5 class="header col s12 light">Predict if you have Periodontitis
        <br>
        </h5>
      </div>

  <div class="row">
        <form action="{{ url_for("predict") }}" method="post" enctype="multipart/form-data" class="col s12">
          <label for="image">Select an image to upload:</label><br>
          <input type="file" id="image" name="image">
          <div class="row center">
            <img id="preview" src="data:image/jpeg;base64,{{ base64image }}" alt="Image preview"style="width: 400px; height: 200px; display: block; margin: 0 auto;">
            <button type="submit" class="btn-large waves-effect waves-light orange">Predict Probability</button>
          </div>
        <br>
          <h4 class = "row center"><b>{{pred}}</b></h4>
        <br>
        </form> 
        
        <br>
        
        <script>
          // Get the file input field
          const input = document.getElementById("image");
        
          // Update the image preview when a file is selected
          input.addEventListener("change", function() {
            const file = input.files[0];
            const reader = new FileReader();
        
            reader.addEventListener("load", function() {
              // Update the src attribute of the image preview
              document.getElementById("preview").src = reader.result;
            });
        
            // Read the image file as a data URL
            reader.readAsDataURL(file);
          });
        </script>

      </div>

    </div>
  </div>


    <br><br>
  </div>
  </div>>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About ML model</h5>
          <p class="grey-text text-lighten-4">This is just a guide to check if you have periodontitis using panoramic xray. You need to seek medical expert to confirms the disease and to know more about it.</p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../static/js/materialize.js"></script>
  <script src="../static/js/init.js"></script>

  </body>
</html>